.shop {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  .shop_products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    padding-left: 1vw;
    padding-right: 1vw;
    justify-content: space-between;
  }
}
a {
  transition: all 0 !important;
}

.w-83{
  width: 83%;
}


@media only screen and (max-width: 800px){
  .shop_products{
    justify-content: center !important;
  }
  .w-83{
    width: 73%;
  }
}