.shop{
    position: relative;
    width: 100%;
    padding-left: 15%;
    display: flex;
    justify-content: center;
    margin-bottom: 55vw;
    .shop_products{
        width:95%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 5vw;
    }
}

a{
    transition: all 0 !important;
}
