.shop {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  .shop_products {
    width: 83%;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    padding-left: 1vw;
    padding-right: 1vw;
    justify-content: space-between;
  }
}
a {
  transition: all 0 !important;
}
