$red: #5d0c1d;
$yellow: #838693;
$white: #ffffff;
$whitesmoke: whitesmoke;
$black: black;

// :export {
//   redcolor: $red;
//   yellowcolor: $yellow;
//   whitecolor: $white;
//   blackcolor: $black;
// }
