.sub_menu{
    width: 15%;
    position: fixed;
    left: 0;
    top: 10%;
    background-color: #eee;
}

.bg-gray{
    background-color: #eee;
    margin: 0 !important;
}
.font_sub_title{
    font-size: 1.2vw;
    text-transform: capitalize;
}
.font_sub_text{
    font-size: 1.1vw;
}
